@import url(https://fonts.googleapis.com/css?family=opensans:500);
body {
    font-family: 'Open Sans', sans-serif;
    max-height: 700px;
    overflow: hidden;
}

.c {
    text-align: center;
    display: block;
    position: relative;
    margin: 10% auto;
}

._404 {
    font-size: 220px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    z-index: 2;
    height: 150px;
    letter-spacing: 20px;
}

._1 {
    text-align: center;
    display: block;
    position: relative;
    letter-spacing: 12px;
    font-size: 4em;
    line-height: 80%;
}

._2 {
    text-align: center;
    display: block;
    position: relative;
    font-size: 20px;
}

.text {
    font-size: 70px;
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 19px 0px 0px 0px;
    /* top: 256.301px; */
    z-index: 3;
    width: 100%;
    line-height: 1.2em;
    display: inline-block;
}


/* .btn{
  background-color: rgb( 255, 255, 255 );
  position: relative;
  display: inline-block;
  width: 358px;
  padding: 5px;
  z-index: 5;
  font-size: 25px;
  margin:0 auto;
  color:#0077B5;
  text-decoration: none;
  margin-right: 10px
} */

.line {
    padding: 0;
    border: none;
    border-top: 5px solid #000;
    text-align: center;
    margin: 0px auto;
    width: 420px;
    height: 10px;
    z-index: -10;
}