#--- Uncomment this line for production or testing server
#SetEnv CI_ENV production

#--- Allow remote API access; change "*" to "your-domain.com" for better security
#--- Note: require Headers mod enabled (sudo a2enmod headers)
#Header add Access-Control-Allow-Origin "*"

#--- URL rewrite
#--- Note: require Headers mod enabled (sudo a2enmod rewrite)
#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php/$1 [L]

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond $1 !^(index\.php|asset|install|update)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # For godady Shared Hosting Server uncomment the line below
    # RewriteRule ^(.*)$ index.php?/$1 [L]

    # Please comment this if you have uncommented the above
    RewriteRule ^(.*)$ index.php/$1 [NC,L,QSA]
</IfModule>