@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* body {
    background: #456;
    font-family: 'Open Sans', sans-serif;
} */

.login {
    width: 400px;
    margin: 131px auto;
    font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
    margin-top: 0;
    margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: #28d;
}

.login-header {
    background: #28d;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.login-container {
    background: #ebebeb;
    padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
    padding: 8px;
}

.login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.login input[type="text"],
.login input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
    border-color: #888;
}

.login input[type="submit"] {
    background: #28d;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
    border-color: #05a;
}
.login [type="checkbox"] {
    box-sizing: border-box;
    display: inline;
    width: 0%;
    border-width: 1px;
    border-style: solid;
    padding: 0px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.forgot{
    font-size: 0.85em;
    align: right
}

a:link{
    color:#000;
}

.alert {
    padding: 0px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert > p + p {
    margin-top: 0px;
}

.login .alert > p {
    padding: 3px;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
html, body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
body {
/* background-color: #605ca8;
background-image: linear-gradient(to right, #605ca8 0%, #2574ab 100%);
background-repeat: repeat-x; */
background-image: url('../img/eofficebg-low.jpg');
background-size: cover;
background-position: center center;

}
/* h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
} */
.btn {
    border-radius: 0;
    text-align: center;
    background: rgba(80, 144, 204, 1);
    color: #fff;
    padding: 10px 100px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
    background-image: linear-gradient(to left, transparent, transparent 50%, #00c6ff 50%, #00c6ff);
    background-position: 99%;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}
.btn:hover {
    /*background-position: 0 -100%;*/
  color: #fff !important;
  font-weight:bold;
  background-color: #605ca8;
background-image: linear-gradient(to right, #605ca8 0%, #2574ab 100%);
background-repeat: repeat-x; 
}
/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */

.inner {
    padding: 0;
    position: relative;
}

/*
 * Angled Section
*/

.site-wrapper {
    position: relative;
    overflow: hidden;
    background: rgba(28, 12, 125, 0.57) none repeat scroll 0 0;
    background-size: cover;
}
.site-wrapper::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11, 1, 35, 0.79) none repeat scroll 0 0;
    opacity: 0.9;
    z-index: 0;
    border-bottom: 40px solid #2AB573;
}
.site-wrapper-inner {
    z-index: 10;
    position: relative;
}
@media (min-width: 768px) {
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .cover-container {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */
    }
}
@media (min-width: 1170px) {
    .cover-container {
        width: 1170px;
    }
}

/*
* Login Form
*/
.sign-in-outer {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
background-color: rgba(77, 73, 170, 0.49);
background-image: linear-gradient(to right, rgba(83, 79, 166, 0.35) 0%, rgba(23, 102, 159, 0.59) 100%);
background-repeat: repeat-x;
  border-radius: 6px;
}
.sign-in-wrap {
  padding: 40px 40px;
  
}
.form-heading {
  font-weight: 300;
  margin-top: 0;
  text-align: center;
  margin-bottom: 60px;
  color: #fff;
}
#login-form > div {
  padding: 0;
}
#login-form input:not([type="submit"]) {
  display: block;
  background: rgba(0,0,0,0);
  width: 100%;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid rgba(80, 144, 204, 0.5);
  box-shadow: 0 !important;
  outline: 0;
  margin-bottom: 15px;
  padding: 10px 16px;
  padding-left: 50px;
  color: #fff;
  transition: all 0.4s ease;
}
#login-form input:not([type="submit"]):focus {
  border-bottom: 2px solid rgba(80, 144, 204,1);
}
#login-form .input-group {
  width: 100%;
  position: relative.
}
#login-form .input-group .fa {
  position: absolute;
  left: 15px;
  top: 15px;
  color: rgba(255,255,255, 0.5) !important
}
#login-form .form-control {
  box-shadow: none;
}
#login-form input[type="submit"] {
    background-color: #2AB573;
    border: 0 none;
    box-shadow: none;
    color: #fff;
    display: block;
    font-weight: bold;
    margin-top: 40px;
    width: 100%;
    font-family: 'arial';
}
#login-form input[type="submit"]:hover {
  transform: scale(1.1);
}

#login-form .reset {
  text-align: center;
  display: block;
  margin: 0;
  margin-top: 15px;
  color: rgba(255,255,255, 0.5);
  text-decoration: underline;
  transition: color 0.4s ease;
}
#login-form .reset:hover {
  color: rgba(255,255,255, 1);
}

#login-form .alert.alert-danger {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: rgba(255, 255, 255, 0.66);
}
.sign-in-outer {
  padding: 0;
}
.social-login {
  text-align: center;
  padding: 0;
}

.social-login ul {
  padding: 0;
  list-style: none;
}
.social-login p {
  color: rgba(255,255,255,0.5);
  margin-bottom: 30px;
}
.social-login ul li {
  display: inline-block;
  width: 20%;
  float: left;
  font-size: 20px;
}
.social-login ul li a {
  display: block;
  width: 100%;
  padding: 25px 0;
  color: #fff;
  transition: all ease 0.4s;
}
.social-login ul li a i {
  text-shadow: 1px 1px 2px rgba(0,0,0,1);
}

.social-login ul li a.facebook {
  background: #3b5998;
}
.social-login ul li a.twitter {
  background: #00aced;
}
.social-login ul li a.google-plus {
  background: #d34836;
}
.social-login ul li a.linkedin {
  background: #007bb6;
}
.social-login ul li a.windows {
  background: #217ad4;
}
.social-login ul li a:hover {
  transform: scale(1.1);
}
/*
* Intro
*/

.page-intro {
color: #2AB573;
font-size: 20px;
font-weight: bold;
margin-bottom: 10px;
margin-top: 0;
}
.intro-cont p {
color: #fff;
font-family: arial;
font-size: 16px;
font-weight: normal;
}
.intro-cont p a {
  color: #ccc;
}
.intro-cont p:last-child {
  margin-bottom: 0;
    margin-top: 10px;
}

::-webkit-input-placeholder {
  color: rgba(255,255,255, 0.5) !important;
  font-size: 14px;
  text-transform: lowercase;
  font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255, 0.5) !important;
  font-size: 14px;
  text-transform: lowercase;
  font-weight: 300;
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255, 0.5) !important;
  font-size: 14px;
  text-transform: lowercase;
  font-weight: 300;
}

:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255, 0.5) !important;
  font-size: 14px;
  text-transform: lowercase;
  font-weight: 300;
}

::-ms-input-placeholder { /* Edge */
  color: rgba(255,255,255, 0.5) !important;
  font-size: 14px;
  text-transform: lowercase;
  font-weight: 300;
}

:placeholder-shown { /* Standard one last! */
  color: rgba(255,255,255, 0.5) !important;
  font-size: 14px;
  text-transform: lowercase;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .sign-in-outer {
    position: relative !important;
    top: 0;
    left: 0;
    transform: translate(0,0);
    display: block;
    margin-top: 150px;
  }
  .cover-container {
    padding: 150px 15px;
  }
  .site-wrapper {
    display: block;
    height: auto;
  }
  .site-wrapper-inner {
    display: block;
  }
}


@media screen and (max-height: 650px)  and (min-width: 768px) {
  .sign-in-outer {
    margin-top: -120px
  }
    .sign-in-outer {
    position: relative !important;
    top: 0;
    left: 0;
    transform: translate(0,0);
    display: block;
  }
  .cover-container {
    padding: 150px 0;
  }
}

@media screen and (max-height: 1024px)  and (min-width: 768px) {
  .sign-in-outer {
    margin-top: -120px
  }
    .sign-in-outer {
    position: relative !important;
    top: 0;
    left: 0;
    transform: translate(0,0);
    display: block;
  }
  .cover-container {
    padding: 150px 15px 30px;
  }
   .site-wrapper {
    display: table;
    height: 100%;
  }
  .site-wrapper-inner {
    display: table-cell;
  }
  
}

@media screen and (max-width: 430px) {
  .btn {
    width: 100% !important;
     display: block !important;
    padding : 10px 0 !important;
  }
  .page-intro {
    font-size: 45px;
  }
  .sign-in-wrap {
    padding: 40px;
  }
}